body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a::after{
    text-decoration: none;
}
a:hover{
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
}
li{
    list-style: none;
    border-radius: 7px;
    margin: 5px;
}
.nav-wrapper{

    background-color: #b206c6;
    color: aliceblue;
    border-bottom: #555 0.5px solid;
}
.nav-bar{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    margin-left: 3em;
}
li{
    padding: 5px;
    border: 0.7px solid #fff;

}
.title{
    font-size: 15px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em 2em;
}
.img_wrapper{
position: relative;
padding: 20px;

}
.name{
    position: absolute;
    margin: 5px;
    right: 53%;
    z-index: 2;
}
.bottom{
    padding: 5px;
    margin-left: 20em;
    margin-right: 20em;
    border: #b206c6 1px solid;
    border-radius: 10px;
}
.time-date{
    display: flex;
    margin: 0 2em;
    justify-content: space-between;
}
.time-text{
    padding-left: 14px;
}
#c-day{
padding: 2px 5px 2px 5px;
border: 1px solid #555;
border-radius: 5px;
font-weight: bolder;
}
#c-time{
    padding: 2px 5px 2px 5px;
border: 1px solid #555;
border-radius: 5px;
font-weight: bolder;
}
.track-wrapper{
    text-align: center;
}
.track{
    font-size: 25px;
    font-weight: bold;
}
.dialogue{

 text-align: center;
 padding: 20px;
 margin-top: 10px;
}
.link{
    margin-top: 15px;
    color: #b206c6;
    padding: 5px;
    border: #b206c6 1px solid;
}
